
/**Header*/

.navbar-brand h1
{
	font-family:serif;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}
#nav-list li
{
	text-align: center;
}
#Page-head
{
	text-align: center;
	font-weight: bold;
	font-size: 100px;
}
.container .jumbotron 
{
	padding:0;
}
.jumbotron span
{
	font-weight: bold;
	font-size: 35px;
}
#chicken-tile span ,#beef-tile span , #sushi-tile span
{
	text-align: center;
	font-weight: bold;
	font-size: 1.6em;
}
#chicken-tile  ,#beef-tile , #sushi-tile 
{
	height:150px ;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid  #3f0c1f;
	overflow: hidden;
	background-color: grey;
	padding-left: 10px;
}
.container div
{
	text-align: center;
}

.container div
{
	text-align: center;
}
.container p
{
	text-align: left;
}
